<div class="container-fluid">
    <div class="navbar-custom topnav-navbar topnav-navbar-dark" style="margin-left: -13px;width: 105%;">
        <div>
            <!-- LOGO -->
            <a routerLink="/home">
                <span class="topnav-logo">
                    <img src="../assets/Omega-logos_white.png" alt="" height="70">
                </span>
            </a>
            <div class="app-search dropdown">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." id="top-search">
                        <span class="mdi mdi-magnify search-icon"></span>
                        <button class="input-group-text btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <a class="nav-link dropdown-toggle arrow-none pull-right" data-bs-toggle="modal" data-bs-target="#standard-modal" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell" style="font-size: 30px;"></i>
                <span class="noti-icon-badge"></span>
            </a>
            <div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="standard-modalLabel">Modal Heading</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <br>
    <footer class="footer footer-alt">
        CMPE 272 Enterprise Software Platforms - 5ThePeople
    </footer>
</div>
<style scoped>
    .nav-link {
        margin-right: 4%;
        margin-top: 10px;
    }
    .modal-backdrop.show {
        z-index: 1!important;
    }
</style>