<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu leftside-menu-detached">

            <div class="leftbar-user" style="padding-bottom: 10%;text-align: center;">
                <a href="javascript: void(0);">
                    <img src="../../assets/avatar-1.jpg" alt="image" class="img-fluid rounded-circle"
                        style="margin-top: 50px;" width="50" />
                </a>
            </div>

            <!--- Sidemenu -->
            <ul class="side-nav">
                <li class="side-nav-title side-nav-item" style="font-size: 12px;">DASHBOARD</li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="sidebarDashboards"
                        class="side-nav-link">
                        <i class="uil-home-alt"></i>
                        <span style="color: skyblue;"> Projects </span>
                    </a>
                </li>
            </ul>
            <!-- end Help Box -->
            <!-- End Sidebar -->

            <div class="clearfix"></div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Projects</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card widget-inline">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="card shadow-none m-0">
                                            <div class="card-body text-center">
                                                <i class="fa fa-briefcase" style="font-size: 24px;"></i>
                                                <h3><span>29</span></h3>
                                                <p class="text-muted font-15 mb-0">Total Projects</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xl-3">
                                        <div class="card shadow-none m-0 border-start">
                                            <div class="card-body text-center">
                                                <i class="fa fa-tasks" style="font-size: 24px;"></i>
                                                <h3><span>715</span></h3>
                                                <p class="text-muted font-15 mb-0">Total Tasks</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xl-3">
                                        <div class="card shadow-none m-0 border-start">
                                            <div class="card-body text-center">
                                                <i class="fa fa-users" style="font-size: 24px;"></i>
                                                <h3><span>31</span></h3>
                                                <p class="text-muted font-15 mb-0">Members</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xl-3">
                                        <div class="card shadow-none m-0 border-start">
                                            <div class="card-body text-center">
                                                <i class="fa fa-line-chart" style="font-size: 24px;"></i>
                                                <h3><span>93%</span> <i class="mdi mdi-arrow-up text-success"></i></h3>
                                                <p class="text-muted font-15 mb-0">Productivity</p>
                                            </div>
                                        </div>
                                    </div>

                                </div> <!-- end row -->
                            </div>
                        </div> <!-- end card-box-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Trainings</h4>

                        <p><b>3</b> Trainings completed out of 10</p>

                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover mb-0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h5 class="font-14 my-1"><a href="javascript:void(0);"
                                                    class="text-body">Coffee detail page - Main Page</a></h5>
                                            <span class="text-muted font-13">Due in 3 days</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Status</span> <br />
                                            <span class="badge badge-warning-lighten">In-progress</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Assigned to</span>
                                            <h5 class="font-14 mt-1 fw-normal">Logan R. Cohn</h5>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Total time spend</span>
                                            <h5 class="font-14 mt-1 fw-normal">3h 20min</h5>
                                        </td>
                                        <td class="table-action" style="width: 90px;">
                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                    class="mdi mdi-pencil"></i></a>
                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                    class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5 class="font-14 my-1"><a href="javascript:void(0);"
                                                    class="text-body">Drinking bottle graphics</a></h5>
                                            <span class="text-muted font-13">Due in 27 days</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Status</span> <br />
                                            <span class="badge badge-danger-lighten">Outdated</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Assigned to</span>
                                            <h5 class="font-14 mt-1 fw-normal">Jerry F. Powell</h5>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Total time spend</span>
                                            <h5 class="font-14 mt-1 fw-normal">12h 21min</h5>
                                        </td>
                                        <td class="table-action" style="width: 90px;">
                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                    class="mdi mdi-pencil"></i></a>
                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                    class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5 class="font-14 my-1"><a href="javascript:void(0);" class="text-body">App
                                                    design and development</a></h5>
                                            <span class="text-muted font-13">Due in 7 days</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Status</span> <br />
                                            <span class="badge badge-success-lighten">Completed</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Assigned to</span>
                                            <h5 class="font-14 mt-1 fw-normal">Scot M. Smith</h5>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Total time spend</span>
                                            <h5 class="font-14 mt-1 fw-normal">78h 05min</h5>
                                        </td>
                                        <td class="table-action" style="width: 90px;">
                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                    class="mdi mdi-pencil"></i></a>
                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                    class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5 class="font-14 my-1"><a href="javascript:void(0);"
                                                    class="text-body">Poster illustation design</a></h5>
                                            <span class="text-muted font-13">Due in 5 days</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Status</span> <br />
                                            <span class="badge badge-warning-lighten">In-progress</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Assigned to</span>
                                            <h5 class="font-14 mt-1 fw-normal">John P. Ritter</h5>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Total time spend</span>
                                            <h5 class="font-14 mt-1 fw-normal">26h 58min</h5>
                                        </td>
                                        <td class="table-action" style="width: 90px;">
                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                    class="mdi mdi-pencil"></i></a>
                                            <a href="javascript: void(0);" class="action-icon"> <i
                                                    class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->

                    </div> <!-- end card body-->
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Project Assignment to members</h4>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput"
                                placeholder="name@example.com" />
                            <label for="floatingInput">Add Project Name</label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Select Team Members</label>
                            <input type="text" class="form-control" data-provide="typeahead" id="the-basics"
                                placeholder="Team Members">
                        </div>
                    </div> <!-- end card body-->
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Training Asssignments</h4>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput"
                                placeholder="name@example.com" />
                            <label for="floatingInput">Training Name</label>
                        </div>
                        <div class="mb-3">
                            <label for="example-textarea" class="form-label">Training Description</label>
                            <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput"
                                placeholder="name@example.com" />
                            <label for="floatingInput">Training Url</label>
                        </div>
                        <div class="mb-3">
                            <label for="example-select" class="form-label">Select Project to which the training needs to
                                be assigned</label>
                            <select class="form-select" id="example-select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div> <!-- end card body-->
                    </div>
                </div> <!-- End Content -->

            </div> <!-- content-page -->

        </div> <!-- end wrapper-->
    </div>

    <style scoped>
        .leftbar-user {
            background: url("../../assets/waves.png") no-repeat;
            background-color: #fafbfe;
        }

        .side-nav-title {
            color: black;
        }

        .side-nav {
            background-color: white !important;
            height: 100%;
        }

        .leftside-menu {
            background: #f2f3f7;
        }

        .content-page {
            margin-left: 280px;
            margin-top: -71px;
        }
    </style>