<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu leftside-menu-detached">

            <div class="leftbar-user" style="padding-bottom: 10%;text-align: center;">
                <img src="../../assets/Omega-logos_black.png" alt="image" class="img-fluid rounded-circle"
                    style="margin-top: 50px;" width="100" />
            </div>
            <ul class="side-nav">
            </ul>
            <div class="clearfix"></div>
            <!-- Sidebar -left -->

        </div>
        <div class="content-page">
            <div class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Post Notifications</h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="example-textarea" class="form-label">Enter notifications to be posted to the organization</label>
                                <textarea class="form-control" id="example-textarea" rows="5"></textarea>
                            </div>
                            <button type="button" class="btn btn-primary pull-right">Post</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<style scoped>
    .leftbar-user {
        background: url("../../assets/waves.png") no-repeat;
        background-color: #fafbfe;
    }

    .side-nav-title {
        color: black;
    }

    .side-nav {
        background-color: white !important;
        height: 100%;
    }

    .leftside-menu {
        background: #f2f3f7;
    }

    .content-page {
        margin-left: 280px;
        margin-top: -71px;
    }
</style>