<div class="loading authentication-bg" data-layout-config='{"darkMode":false}'>
    <div class="account-pages pt-4 pt-sm-5 pb-4 pb-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card">
                        <!-- Logo -->
                        <div class="card-header pt-2 pb-2 text-center bg-primary">
                            <a routerLink="/home">
                                <span><img src="../../assets/Omega-logos_white.png" alt="" height="60"></span>
                            </a>
                        </div>

                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 fw-bold">Sign In</h4>
                            </div>
                            <div class="mb-3 mb-0 text-center">
                                <button class="btn btn-primary" type="submit"> Log In </button>
                            </div>
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <!-- bundle -->
    <!-- <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/app.min.js"></script> -->

</div>
<style scoped>
.authentication-bg {
        background-image: url("../../assets/images/bg-pattern-light.svg");
    }
</style>